<% include ./partials/header.ejs %>
<div class="banner">
	<div class="welcome">
		<h1>Songify</h1>
		<p>Generate Spotify playlists with the push of a button</p>
		<!-- <a class="btn btn-default" href="/songify" role="button">Songify</a> -->
	</div>
</div>
<div class="mainpic">
	
</div>
<% include ./partials/footer.ejs %>