<% include ./partials/header.ejs %>
<div class="jumbotron">
	<h1>Welcome</h1>
	<p>Generate Spotify Playlists</p>
	<a class="btn btn-default" href="/songify" role="button">Songify</a>
</div>
<% include ./partials/footer.ejs %>